<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:mqtt:Camera">
		<parameter name="serverID" type="text" required="true">
			<context>ThingID</context>
			<label>@text/param.camera.thingID.label</label>
			<description>@text/param.camera.thingID.description</description>
		</parameter>
		<parameter name="cameraName" type="text" required="true">
			<context>name</context>
			<label>@text/param.camera.cameraName.label</label>
			<description>@text/param.camera.cameraName.description</description>
		</parameter>
		<parameter name="enableStream" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.camera.enableStream.label</label>
			<description>@text/param.camera.enableStream.description</description>
			<default>true</default>
		</parameter>
		<parameter name="ffmpegCameraNameOverride" type="text" required="false">
			<label>@text/param.camera.ffmpegCameraNameOverride.label</label>
			<description>@text/param.camera.ffmpegCameraNameOverride.description</description>
			<default/>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffMJPEGStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffMJPEGStartProducerOnLoad.label</label>
			<description>@text/param.common.ffMJPEGStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffMJPEGTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffMJPEGTranscodeCommands.label</label>
			<description>@text/param.common.ffMJPEGTranscodeCommands.description</description>
			<default>-q:v 5 -r 2 -vf scale=640:-2 -update 1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffHLSStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffHLSStartProducerOnLoad.label</label>
			<description>@text/param.common.ffHLSStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffHLSTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffHLSTranscodeCommands.label</label>
			<description>@text/param.common.ffHLSTranscodeCommands.description</description>
			<default>-acodec copy -vcodec copy</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffDASHStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffDASHStartProducerOnLoad.label</label>
			<description>@text/param.common.ffDASHStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffDASHTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffDASHTranscodeCommands.label</label>
			<description>@text/param.common.ffDASHTranscodeCommands.description</description>
			<default>-acodec copy -vcodec copy</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:mqtt:Server">
		<parameter name="serverURL" type="text" required="true">
			<context>network-address</context>
			<label>@text/param.server.serverURL.label</label>
			<description>@text/param.server.serverURL.description</description>
		</parameter>
		<parameter name="serverClientID" type="text" required="false">
			<context>client-id</context>
			<label>@text/param.server.serverClientID.label</label>
			<description>@text/param.server.serverClientID.description</description>
			<default/>
		</parameter>
		<parameter name="serverKeepAlive" type="integer" required="false" min="5" max="60" unit="s">
			<context>keep-alive</context>
			<label>@text/param.server.serverKeepAlive.label</label>
			<description>@text/param.server.serverKeepAlive.description</description>
			<default>5</default>
		</parameter>
		<parameter name="enableStream" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.server.enableStream.label</label>
			<description>@text/param.server.enableStream.description</description>
			<default>true</default>
		</parameter>
		<parameter name="streamWhitelist" type="text" required="false">
			<label>@text/param.server.streamWhitelist.label</label>
			<description>@text/param.server.streamWhitelist.description</description>
			<default>DISABLE</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffmpegLocation" type="text" required="true">
			<label>@text/param.server.ffmpegLocation.label</label>
			<description>@text/param.server.ffmpegLocation.description</description>
			<default>/usr/bin/ffmpeg</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffMJPEGStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffMJPEGStartProducerOnLoad.label</label>
			<description>@text/param.common.ffMJPEGStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffMJPEGTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffMJPEGTranscodeCommands.label</label>
			<description>@text/param.common.ffMJPEGTranscodeCommands.description</description>
			<default>-q:v 5 -r 2 -vf scale=640:-2 -update 1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffHLSStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffHLSStartProducerOnLoad.label</label>
			<description>@text/param.common.ffHLSStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffHLSTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffHLSTranscodeCommands.label</label>
			<description>@text/param.common.ffHLSTranscodeCommands.description</description>
			<default>-acodec copy -vcodec copy</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffDASHStartProducerOnLoad" type="boolean" required="false">
			<context>name</context>
			<label>@text/param.common.ffDASHStartProducerOnLoad.label</label>
			<description>@text/param.common.ffDASHStartProducerOnLoad.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ffDASHTranscodeCommands" type="text" required="false">
			<label>@text/param.common.ffDASHTranscodeCommands.label</label>
			<description>@text/param.common.ffDASHTranscodeCommands.description</description>
			<default>-acodec copy -vcodec copy</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
